html {
    margin: 1%
}

table {
    border-collapse: collapse;
    max-width: 100%;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

#title {
    text-align: center;
}

#my-chart {
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
}

#person {
    width: 45%;
    background-color: lightcyan;
    border-radius: 10px;
    margin: 1%;
    padding: 2%;
    display: inline-block;
    vertical-align: top;
}

